@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --bg-color: #ccc5b9;
    --main-color: #403d39;
    --big-text-color: #eb5e28;
    --text-color: #fffcf2;
    --med-text-color: #ec7647;
    --link-color: #ec7647;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Krub, Arial, Helvetica, sans-serif;
}

body {
    width: 51rem;
    max-width: 51rem;
    height: 66rem;
    max-height: 66rem;
    margin: 0 auto;
    background-color: var(--bg-color);
    color: var(--text-color)
}

.wrapper {
    background-color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 10vh;
    border: solid 0.063rem #ec7647;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

/* Header */

header {
    height: 20vh;
    text-align: center;
    line-height: 1.3rem;
}

h1 {
    margin-top: 2.8vh;
    color: var(--big-text-color);
    font-family: Chivo, Arial, Helvetica, sans-serif;
}

.info {
    padding: 0.625rem 0;
    margin-top: .5vh;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 200;
}

header {
    padding: 1.25rem;
}


/* Content */


section {
    padding: 1.25rem;
}

/* Skills */
.skills {
    list-style-type: none;
}

.icon {
    display: inline-block;
    height: 1em;
    width: auto;
    vertical-align: middle;
}

.icon-text {
    display: inline-block;
    margin: 1.25rem;
    margin-left: 0.313rem;
    vertical-align: middle;

}
.education-content {
    padding-top: 0.625rem;
}

article {
    margin-top: 0.938rem;
    margin-left: 1.25rem;
}

h2 {
    font-size: 1.125rem;
}

h3 {
    color: var(--med-text-color);

}

.dates {
    font-style: italic;
    font-weight: 100;
}

/* Footer */
footer {
    text-align: center;
    height: 10vh;
    margin-top: 5vh;
}

.social-links {
    list-style-type: none;
    padding-top: 0.625rem;
    
}

.social-links > li {
    display: inline-block;
    margin: 0 30px;
}